*{
  margin: 0;
  padding: 0;
}
.public-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.public-flex-col{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}